---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDateShort from '../components/FormattedDateShort.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).filter(
	(post) => !post.data.draft
).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<div class="abstract">
			This is my learning path with 3d printing. I will share resources I found useful to
			learn basic concepts: videos, articles, websites, model repositories and other stuff
			I found along the way. There may be wrong information as I'm still learning, so take
			everything you read with a grain of salt and make your own research.
		</div>
		<nav role="navigation" class="toc">
			<h2>Posts</h2>
			<ul class="post-list">
				{
					posts.map((post) => (
					<li class="post-item">
						<span class="post-date"><FormattedDateShort date={post.data.pubDate} /></span>
						<span class="post-separator">-</span>
						<div class="post-content">
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>
							{post.data.tags && post.data.tags.length > 0 && (
								<span> <span class="post-tag-separator">-</span> {post.data.tags.map(tag => (
									<a href={`/tags/${tag}`} class="tag-link">#{tag}</a>
								))}</span>
							)}
						</div>
					</li>
					))
				}
			</ul>
		</nav>

		<Footer />
	</body>
</html>
